MONGO_URI=
DB_NAME=
PORT=
HOST=

MS_INVENTORY_BASE_URL=

GEMINI_API_KEY=
AEKO_FAST_MODEL=
AEKO_SLOW_MODEL=
AEKO_MAX_TOKENS=
AEKO_REPORT_MAX_TOKENS=

TAVILY_API_KEY=
AETHER_WEB_SITE_URL=

AEKO_MCP_WARM_UP=true

CHROMA_TENANT=
CHROMA_DATABASE=aeko-gases-vector-store
CHROMA_API_KEY=

CLIMATIQ_API_KEY=
